<a href="https://colab.research.google.com/github/Vikas091234/vikas-raj/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a= int(input(" enter a integer :"))
b= int(input(" enter a integer :"))
print(a+b)
print(a*b)
print(a/b)
print(a%b)

 enter a integer :5
 enter a integer :6
11
30
0.8333333333333334
5

In [ ]:
print("Hello World Welcome to Python")

Hello World Welcome to Python

In [ ]:
name =input("WHats your name?")
print("Welcome " + name + "!")

WHats your name?h
Welcome h!

In [ ]:
num = int(input(" enter a positive integer:"))
for i in range(1,11i sam using ):
        print(num,"X",i,"=",num*i )

 enter a positive integer:5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [ ]:
from pickle import APPEND
marks= [80,70,99,89,87,67,95,57]
marks= sorted(marks)
print("Marks List:",marks)
print("Highest Marks:",marks[-1])
print("Lowest Marks:",marks[0])
avg= sum(marks)/len(marks)
print("Average Marks:",avg)
print(max(marks))
marks.append(35)
marks[3]=78
print(marks)

Marks List: [57, 67, 70, 80, 87, 89, 95, 99]
Highest Marks: 99
Lowest Marks: 57
Average Marks: 80.5
99
[57, 67, 70, 78, 87, 89, 95, 99, 35]

In [ ]:
marks = [80, 70, 99, 89, 87, 67, 95, 57, 35]

for i in marks:
  if i>82:

     print("Marks:",i)
for i in range(len(marks)):
    print(f"Subject {i+1}: {marks[i]}")
total= 0
for i in marks:
  total+=i
  avg= total/len(marks)
print("Total Marks:",total)
print("Average Marks:",avg)

Marks: 99
Marks: 89
Marks: 87
Marks: 95
Subject 1: 80
Subject 2: 70
Subject 3: 99
Subject 4: 89
Subject 5: 87
Subject 6: 67
Subject 7: 95
Subject 8: 57
Subject 9: 35
Total Marks: 679
Average Marks: 75.44444444444444

In [ ]:
marks = [80, 70, 99, 89, 87, 67, 95, 57, 35]
count=0
for i in marks:
  if i>82:
    count+=1
print(count)
a=[]
for i in marks:
  if i>75:
     a.append(i)
a.sort()
print(a)

4
[80, 87, 89, 95, 99]

In [ ]:
def greet():
    print("Hello! Welcome to Python functions.")

greet()

Hello! Welcome to Python functions.

In [ ]:
def square():
  square=num*num
  return square
num= int(input("enter a number:"))
square=square(num)
print(square)

enter a number:5
25

In [ ]:
def add(a,b):
  return a+b
a= int(input("enter a number:"))
b= int(input("enter a number:"))
sum=add(a,b)
print(sum)

enter a number:5
enter a number:6
11

In [ ]:
def even_checker(num):
    if num % 2 == 0:
        return True
    else:
        return False

num = int(input("Enter a number: "))
print("The entered number is even:", even_checker(num))

Enter a number: 5
The entered number is even: False

In [ ]:
def get_grade(marks):
    if marks >= 90:
        return "A"
    elif marks >= 80:
        return "B"
    elif marks >= 70:
        return "C"
    elif marks >= 60:
        return "D"
    else:
        return "F"

marks = int(input("Enter your marks: "))
grade = get_grade(marks)
print("Your grade is:", grade)

Enter your marks: 57
Your grade is: F

In [ ]:
def filter_even(numbers):
  even_number=[]
  for i in numbers:
    if i %2==0:
      even_number.append(i)
  return even_number
numbers=[1,2,3,4,5,6,7,8,9,10]
even_number=filter_even(numbers)
print(even_number)

[2, 4, 6, 8, 10]

In [ ]:
list=[]
i=0
while True:
  a=int(input("Enter the entries of the list:/ enter -100 if all the entries have been entered"))
  list.append(a)
  if a==-100:
    break
list.sort()
Top_3=list[-3:]
print(Top_3)

Enter the entries of the list:/ enter -100 if all the entries have been entered45
Enter the entries of the list:/ enter -100 if all the entries have been entered15
Enter the entries of the list:/ enter -100 if all the entries have been entered56
Enter the entries of the list:/ enter -100 if all the entries have been entered68
Enter the entries of the list:/ enter -100 if all the entries have been entered52
Enter the entries of the list:/ enter -100 if all the entries have been entered86
Enter the entries of the list:/ enter -100 if all the entries have been entered79
Enter the entries of the list:/ enter -100 if all the entries have been entered47
Enter the entries of the list:/ enter -100 if all the entries have been entered15
Enter the entries of the list:/ enter -100 if all the entries have been entered35
Enter the entries of the list:/ enter -100 if all the entries have been entered54
Enter the entries of the list:/ enter -100 if all the entries have been entered15
Enter the entries of the list:/ enter -100 if all the entries have been entered25
Enter the entries of the list:/ enter -100 if all the entries have been entered56
Enter the entries of the list:/ enter -100 if all the entries have been entered58
Enter the entries of the list:/ enter -100 if all the entries have been entered5455255
Enter the entries of the list:/ enter -100 if all the entries have been entered-100
[79, 86, 5455255]

In [ ]:
def count_vowels(string):
  vowels="aeiou"
  count=0
  for i in string:
    if i in vowels:
      count+=1
  return count
string=input("enter a string:").lower()
count=count_vowels(string)
print(count)

enter a string:Hi I am Vikas Raj, I am studying in IITM , its been a really fun coding till now
24

In [ ]:
def Five_multiples(num):
  list=[]
  for i in range(1,6):
    a=i*num
    list.append(a)
  return list
num=int(input("Enter a number: "))
print(Five_multiples(num))

Enter a number: 5
[5, 10, 15, 20, 25]

In [2]:
greatings = "hello"
name="world"
print(greatings+" "+ name)
message = f"{greatings} {name}"
print(message[2:8])

hello world
llo wo

In [7]:
text="I love timepass i do it a lot "
print(text)
print(text.count("i"))
print(text.lower())
print(text.upper())
print(text.title())
print(text.replace("love","hate"))
print(text.find("timepass"))
print("do" in text)
print(text.split())
print(text.strip())

I love timepass i do it a lot
3
i love timepass i do it a lot
I LOVE TIMEPASS I DO IT A LOT
I Love Timepass I Do It A Lot
I hate timepass i do it a lot
7
True
['I', 'love', 'timepass', 'i', 'do', 'it', 'a', 'lot']
I love timepass i do it a lot

In [9]:
sentence = " I am learning Python today"
print(sentence)
sentence.upper()
print(sentence.upper())
sentence.replace("today","now")
print(sentence.replace("today","now"))

 I am learning Python today
 I AM LEARNING PYTHON TODAY
 I am learning Python now

In [27]:
def palindrome(string):
  if string==string[::-1]:
    return True
  else:
    return False
string=input("enter a string :")

string=string.lower()
print(string)
print("your string is a palindrome:", palindrome(string))

enter a string :1234321
1234321
your string is a palindrome: True

In [3]:
student={
    "name":"Arnav", "age":"23",
    "marks":[86,76,98],"is_passed": True
}
print(student["name"])
print(student["marks"][2])

student["college"]= "IITMadras"
student["age"]= "25"
del student["is_passed"]
for key, value in student.items():
    print(key,":",value)

Arnav
98
name : Arnav
age : 25
marks : [86, 76, 98]
college : IITMadras

In [10]:
myself={ "name":"Vikas", "branch":"electrical engineering","skills":["python","DSA","ML"]


}
myself["goal"]="To be happy"
print("keys")
for key in myself.keys():
  print(key)
print("values")
for value in myself.values():
  print(value)

for key, value in myself.items():
  print(key,":",value)

keys
name
branch
skills
goal
values
Vikas
electrical engineering
['python', 'DSA', 'ML']
To be happy
name : Vikas
branch : electrical engineering
skills : ['python', 'DSA', 'ML']
goal : To be happy

In [11]:
sentence = input("enter a string : ")
words = sentence.split()
word_count={}

for word in words:
  if word in word_count:
    word_count[word]+=1
  else:
    word_count[word]=1
print(word_count)

enter a string : Hi I am Vikas , I am doing B.Tech from IITMadras , I like playing cricket watchin football, my favorate food is biriyani , my go to food is dal rice ,
{'Hi': 1, 'I': 3, 'am': 2, 'Vikas': 1, ',': 4, 'doing': 1, 'B.Tech': 1, 'from': 1, 'IITMadras': 1, 'like': 1, 'playing': 1, 'cricket': 1, 'watchin': 1, 'football,': 1, 'my': 2, 'favorate': 1, 'food': 2, 'is': 2, 'biriyani': 1, 'go': 1, 'to': 1, 'dal': 1, 'rice': 1}

In [22]:
def word_counter(words):
  word_count={}
  for word in words :
    if word in word_count :
      word_count[word]+=1
    else:
      word_count[word]=1
  return word_count
sentence=input("enter a string :")
words=sentence.split()
print(word_counter(words))

enter a string :5
{'5': 1}

In [25]:

def linear_search(arr,target):
  for i in range(len(arr)):
    if arr[i]== target:
      return i
  return -1

arr=[]
while True:
  a=int(input("enter a +ve integer  or enter -1 to end the list:"))

  if a==-1:
    break
  if a in arr:
    print("Element already exists")
    continue
  arr.append(a)
target =int(input("enter the element you  want to find"))
index = linear_search(arr,target)
if index == -1:
  print("Element is not found")
else:
  print("Element is found at index",index)

enter a +ve integer  or enter -1 to end the list:55
enter a +ve integer  or enter -1 to end the list:55
Element already exists
enter a +ve integer  or enter -1 to end the list:57
enter a +ve integer  or enter -1 to end the list:57
Element already exists
enter a +ve integer  or enter -1 to end the list:87
enter a +ve integer  or enter -1 to end the list:34
enter a +ve integer  or enter -1 to end the list:59
enter a +ve integer  or enter -1 to end the list:5
enter a +ve integer  or enter -1 to end the list:-1
enter the element you  want to find57
Element is found at index 1

In [32]:
def count_occurrence(list):
  dic={}
  for i in list:
    if i in dic:
      dic[i]+=1
    else:
      dic[i]=1
  return dic
list=[]
while True:
  a=int(input("enter a +ve integer  or enter -1 to end the list:"))

  if a==-1:
    break
  list.append(a)
print(list)
print(count_occurrence(list))

enter a +ve integer  or enter -1 to end the list:54
enter a +ve integer  or enter -1 to end the list:545
enter a +ve integer  or enter -1 to end the list:54
enter a +ve integer  or enter -1 to end the list:54
enter a +ve integer  or enter -1 to end the list:48
enter a +ve integer  or enter -1 to end the list:45
enter a +ve integer  or enter -1 to end the list:45
enter a +ve integer  or enter -1 to end the list:74
enter a +ve integer  or enter -1 to end the list:45
enter a +ve integer  or enter -1 to end the list:24
enter a +ve integer  or enter -1 to end the list:45
enter a +ve integer  or enter -1 to end the list:-1
[54, 545, 54, 54, 48, 45, 45, 74, 45, 24, 45]
{54: 3, 545: 1, 48: 1, 45: 4, 74: 1, 24: 1}

In [10]:
animals=("tiger","lion","penguin","zebra","monkey","tiger","tiger")
print(animals[2])
print(animals[2:])
print(animals.index("lion"))
print(animals.count("tiger"))

penguin
('penguin', 'zebra', 'monkey', 'tiger', 'tiger')
1
3

In [12]:
set1={1,2,3,4,5,8,9}
set2={4,5,9,0,6,7}
print(set1 | set2)
print(set1 & set2)
print(set1-set2)
print(set1 ^ set2)
print(set1)
print(set2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{9, 4, 5}
{8, 1, 2, 3}
{0, 1, 2, 3, 6, 7, 8}
{1, 2, 3, 4, 5, 8, 9}
{0, 4, 5, 6, 7, 9}

In [24]:
cs_students={"Vikas", "Anil", "Ravi", "Sara"}
ml_students={"Ravi","Sara","Priya","Meena"}
print(cs_students | ml_students)
print(cs_students- ml_students)
print(ml_students - cs_students)
print(ml_students ^ cs_students)
cs_students.add("Aryan")
print(cs_students)
cs_students.remove("Anil")
print(cs_students)

{'Anil', 'Sara', 'Priya', 'Ravi', 'Meena', 'Vikas'}
{'Anil', 'Vikas'}
{'Meena', 'Priya'}
{'Anil', 'Priya', 'Meena', 'Vikas'}
{'Anil', 'Sara', 'Ravi', 'Aryan', 'Vikas'}
{'Sara', 'Ravi', 'Aryan', 'Vikas'}

In [25]:
coding_club = set()
ml_club = set()

# Input Coding Club attendees
n1 = int(input("Enter number of students in Coding Club: "))
for _ in range(n1):
    student = input("Enter student name: ")
    coding_club.add(student)

# Input ML Club attendees
n2 = int(input("Enter number of students in ML Club: "))
for _ in range(n2):
    student = input("Enter student name: ")
    ml_club.add(student)

# Results
print("\nAll Unique Students:", coding_club | ml_club)
print("Students in Both Clubs:", coding_club & ml_club)
print("Only in Coding Club:", coding_club - ml_club)
print("Only in ML Club:", ml_club - coding_club)
print("In Exactly One Club:", coding_club ^ ml_club)

Enter number of students in Coding Club: 2
Enter student name: vikas
Enter student name: rahul
Enter number of students in ML Club: 3
Enter student name: vikas
Enter student name: rajesh
Enter student name: priya

All Unique Students: {'rajesh', 'priya', 'rahul', 'vikas', 'vikas '}
Students in Both Clubs: set()
Only in Coding Club: {'rahul', 'vikas '}
Only in ML Club: {'rajesh', 'priya', 'vikas'}
In Exactly One Club: {'rajesh', 'vikas', 'priya', 'rahul', 'vikas '}